.detail {
    display: flex;
    background-color: var(--color-grey-light-1);
    padding: 4.5rem;
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    flex: 0 0 60%;
    background-color: var(--line);
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}

.user-reviews {
    flex: 1;
    background-color: yellowgreen;
}
